@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 47px;
    margin-top: 96px;
    width: 282px;
    height: 101px;
    flex-direction: column;
    justify-content: center
  }
  .style1 {
    margin-left: 24px;
    width: 79px;
    height: 66px
  }
  .style1,
  .style2,
  .style3,
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style2 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    margin-left: 47px;
    width: 282px;
    height: 101px
  }
  .style3,
  .style4 {
    margin-left: 24px;
    width: 79px;
    height: 66px
  }
  .style4 {
    display: flex;
    margin-left: 47px;
    margin-top: 20px;
    width: 282px;
    height: 101px;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    margin-left: 24px;
    width: 79px;
    height: 66px
  }
  .style5,
  .style6,
  .style7 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style6 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    margin-left: 47px;
    width: 282px;
    height: 101px
  }
  .style7 {
    margin-left: 24px;
    width: 79px;
    height: 66px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 96px;
    margin-top: 197px;
    width: 578px;
    height: 207px;
    flex-direction: column;
    justify-content: center
  }
  .style1 {
    margin-left: 49px;
    width: 162px;
    height: 135px
  }
  .style1,
  .style2,
  .style3,
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style2 {
    display: flex;
    margin-top: 41px;
    flex-direction: column;
    justify-content: center;
    margin-left: 96px;
    width: 578px;
    height: 207px
  }
  .style3,
  .style4 {
    margin-left: 49px;
    width: 162px;
    height: 135px
  }
  .style4 {
    display: flex;
    margin-left: 96px;
    margin-top: 41px;
    width: 578px;
    height: 207px;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    margin-left: 49px;
    width: 162px;
    height: 135px
  }
  .style5,
  .style6,
  .style7 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style6 {
    display: flex;
    margin-top: 41px;
    flex-direction: column;
    justify-content: center;
    margin-left: 96px;
    width: 578px;
    height: 207px
  }
  .style7 {
    margin-left: 49px;
    width: 162px;
    height: 135px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 115px;
    margin-top: 236px;
    width: 692px;
    height: 248px;
    flex-direction: column;
    justify-content: center
  }
  .style1 {
    margin-left: 59px;
    width: 194px;
    height: 162px
  }
  .style1,
  .style2,
  .style3,
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style2 {
    display: flex;
    margin-top: 49px;
    flex-direction: column;
    justify-content: center;
    margin-left: 115px;
    width: 692px;
    height: 248px
  }
  .style3,
  .style4 {
    margin-left: 59px;
    width: 194px;
    height: 162px
  }
  .style4 {
    display: flex;
    margin-left: 115px;
    margin-top: 49px;
    width: 692px;
    height: 248px;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    margin-left: 59px;
    width: 194px;
    height: 162px
  }
  .style5,
  .style6,
  .style7 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style6 {
    display: flex;
    margin-top: 49px;
    flex-direction: column;
    justify-content: center;
    margin-left: 115px;
    width: 692px;
    height: 248px
  }
  .style7 {
    margin-left: 59px;
    width: 194px;
    height: 162px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 150px;
    margin-top: 307px;
    width: 902px;
    height: 323px;
    flex-direction: column;
    justify-content: center
  }
  .style1 {
    margin-left: 77px;
    width: 253px;
    height: 211px
  }
  .style1,
  .style2,
  .style3,
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style2 {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    width: 902px;
    height: 323px
  }
  .style3,
  .style4 {
    margin-left: 77px;
    width: 253px;
    height: 211px
  }
  .style4 {
    display: flex;
    margin-left: 150px;
    margin-top: 64px;
    width: 902px;
    height: 323px;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    margin-left: 77px;
    width: 253px;
    height: 211px
  }
  .style5,
  .style6,
  .style7 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style6 {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    width: 902px;
    height: 323px
  }
  .style7 {
    margin-left: 77px;
    width: 253px;
    height: 211px
  }
}